.content{
    margin-left: 250px;
    margin-top: 95px;
    width: 60%;
}
.one1{
    margin-top: 40px;
    /* background-color: rgb(240, 227, 227); */
    padding: 20px;
}

.two{
    margin-left: 20px;
}